<div class="sub_header_container">
    <div class="find_container">
        <form action="/" method="get">
            <input type="search" name="search" id="id" placeholder="Search" value="<%= search %>">
            <select name="short_by" id="short_by">
                <option value="Newest" <%=short_by==="Newest" ? "selected" : "" %>>Newest</option>
                <option value="Oldest" <%=short_by==="Oldest" ? "selected" : "" %>>Oldest</option>
                <option value="A-Z" <%=short_by==="A-Z" ? "selected" : "" %>>A-Z</option>
            </select>
        </form>
    </div>
    <a class="btn add" href="/add">Add</a>
</div>