<div class="sub_header_container">
    <div class="find_container">
    <input type="search" name="search" id="id" placeholder="search">
    <select name="short_by" id="short_by" placeholder="short">
        <option value="">A-Z</option>
        <option value="">Newest</option>
        <option value="">Oldest</option>
    </select>
    </div>
    <a class="btn add" href="/add">Add</a>
</div>