<%- include ("partials/main_header.ejs") %>
<div class="add_container_main">
<div class="add_container">
    <form action="/add_data" method="post">
    <h2>Enter Book Details</h2>
    <input type="text" name="book_name" placeholder="book name" required autocorrect="on" autocomplete="on">
    <input type="text" name="author_name" placeholder="Author name" required autocorrect="on" autocomplete="on">
    <input class="btn submit" type="submit">
    </form>
</div>
</div>
<%- include("partials/footer.ejs") %>