<%- include("partials/main_header.ejs") %>
<div class="login">
    <p class="login_title">Login to start taking notes</p>
    <% if(locals.err){%>
        <p class="auth_error"><%= err %></p>
        <% } %>
    <form action="/login" method="post">
        <input type="email" placeholder="Enter your email" name="email" required >
        <input type="password" placeholder="Enter password" name="password" required minlength="8">
        <input type="submit" value="Login">
    </form>
    <p class="login_register_text">Don't have an account? <a href="/register">Register now</a></p>
</div>
<%- include("partials/footer.ejs") %>